
<mat-tab-group>
    <mat-tab label="Beginner">
        <div>
            <table>
                <thead>
                   <tr>
                    <th>name</th>
                    <th>age</th>
                    <th>company</th>
                   </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of empDetails">
                        <td>{{emp.empName}}</td>
                        <td>{{emp.age}}</td>
                        <td>{{emp.company}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <button mat-raised-button color="primary" (click)="openDialog()">Add Employe</button>
        <br>
    </mat-tab>
    <mat-tab label="Advanced">
        <div>
            <table mat-table [dataSource]="empDetails" class="mat-elevation-z10">
                    <ng-container matColumnDef="EmpName">
                        <th mat-header-cell *matHeaderCellDef>Employee Name</th>
                        <td mat-cell *matCellDef="let emp">{{emp.empName}}</td>
                    </ng-container>
                    <ng-container matColumnDef="age">
                        <th mat-header-cell *matHeaderCellDef>Employee Age</th>
                        <td mat-cell *matCellDef="let emp">{{emp.age}}</td>
                    </ng-container>
                    <ng-container matColumnDef="company">
                        <th mat-header-cell *matHeaderCellDef> works For</th>
                        <td mat-cell *matCellDef="let emp">{{emp.company}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Edit">
                        <th mat-header-cell *matHeaderCellDef>Edit</th>
                        <td mat-cell *matCellDef="let emp">
                            <button mat-raised-button (click)="secondDilog(emp)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="employeeColumns"></tr>
                    <tr mat-row *matRowDef="let emp;columns:employeeColumns"></tr>
            </table>
        </div>        
        <br>       
    </mat-tab>
</mat-tab-group>

<mat-grid-list [cols]="2">
    <mat-grid-tile>
    <mat-card class="mat-card mat-elevation-z10">
       <mat-card-header>
           <div mat-card-avatar class="avatar"></div>
           <mat-card-title>
               Angular course
           </mat-card-title>
           <mat-card-subtitle>Angular</mat-card-subtitle>
       </mat-card-header>
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN7iUv4OBXAZKWURRX1sRSOJn7iBMSdn3G5LgEySgwLw&s" alt="" mat-card-image>
   
       <mat-card-content>
           <p>this is angular course.which wil teach how to become front end ddevloper</p>
       </mat-card-content>
       <mat-card-actions>
           <button mat-raised-button color="primary">view</button>
       </mat-card-actions>
    </mat-card>
    <mat-card class="mat-card mat-elevation-z10">
        <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title>
                Angular course
            </mat-card-title>
            <mat-card-subtitle>Angular</mat-card-subtitle>
        </mat-card-header>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN7iUv4OBXAZKWURRX1sRSOJn7iBMSdn3G5LgEySgwLw&s" alt="" mat-card-image>
    
        <mat-card-content>
            <p>this is angular course.which wil teach how to become front end ddevloper</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">view</button>
        </mat-card-actions>
     </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<mat-horizontal-stepper [linear]="true" class="mat-elevation-z10 stepperAllignment" labelPosition="bottom">
    <mat-step errorMessage="error in home">
        <ng-template matStepLabel>Home</ng-template>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input type="text" matInput #name>
            <mat-hint align="end">{{name.value.length}}</mat-hint>
        </mat-form-field>
        <mat-checkbox color="primary">download allowed</mat-checkbox>
        <mat-checkbox color="primary" labelPosition="before">terms and condition</mat-checkbox>

        <mat-form-field appearance="outline">
            <textarea matInput cdkTextareaAutosize [cdkAutosizeMinRows]="2" [cdkAutosizeMinRows]="5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos tenetur, beatae sint asperiores quae sequi saepe quas. Sint maxime culpa debitis consequuntur cupiditate fugiat est ex enim dolorem autem! Qui?</textarea>
        </mat-form-field>
        <div class="stepper-buttons">
            <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step errorMessage="error in about">
        <ng-template matStepLabel>about</ng-template>
        <div class="stepper-buttons">
            <button mat-raised-button color="primary" matStepperPrevious
            matTooltip="go to about" [matTooltipPosition]="'right'" [matTooltipShowDelay]="500" [matTooltipHideDelay]="1000">Back</button>
            <button mat-raised-button color="accent">success</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>


<button color="primary" mat-button [matMenuTriggerFor]="dropdown">dropdodow</button>

<mat-menu #dropdown>
    <button mat-menu-item>first</button>
    <button mat-menu-item [matMenuTriggerFor]="dropdown1">second</button>
    <button mat-menu-item>third</button>
</mat-menu>

<mat-menu #dropdown1>
    <button mat-menu-item>know</button>
    <button mat-menu-item>dont know</button>
    <button mat-menu-item>leave</button>
</mat-menu>
<br>
<mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" matInput #name>
    <mat-hint align="end">{{name.value.length}}</mat-hint>
</mat-form-field>
<br>
<mat-form-field style="max-width:150px">
    <mat-label>amount</mat-label>
    <span matPrefix>
        <mat-icon>currency_rupee</mat-icon>
    </span>    
    <span matSuffix>.00</span>
    <input type="text" matInput #amount>
</mat-form-field>
<br>
<mat-form-field>
    <mat-select placeholder="select the category" multiple="">
        <mat-option>None</mat-option>
        <mat-optgroup label="Beginner">
            <mat-option value="java">java</mat-option>
            <mat-option value="angular">Angular</mat-option>
        </mat-optgroup>
        <mat-option value="intermediate">Intermidiate</mat-option>
        <mat-option value="advanced">Advanced</mat-option>

    </mat-select>
</mat-form-field>
<br>
<mat-form-field>
    <input type="text" matInput placeholder="enter date" [matDatepicker]="datePicker">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker  #datePicker></mat-datepicker>
</mat-form-field>
<br>

