<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
      <mat-nav-list (click)="sidenav.close()">
        <a mat-list-item routerLink="">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>
        <a mat-list-item routerLink="about">
          <mat-icon>visibility</mat-icon>
          <span>About</span>
        </a>
        <a mat-list-item routerLink="contact">
          <mat-icon>contact_support</mat-icon>
          <span>Contact</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar color="primary">
      <a mat-icon-button (click)="sidenav.open()" style="margin-right: 2rem;">
        <mat-icon>menu</mat-icon>
      </a>
      <a mat-button [matMenuTriggerFor]="dropdown" style="margin-right: 2rem;margin-top: -0.5rem;">
        screen
      </a>
      <mat-menu #dropdown>
        <button mat-menu-item routerLink=""> 
          <mat-icon>home</mat-icon>
          home</button>
        <button mat-menu-item routerLink="about">
          <mat-icon>visibility</mat-icon>
          about</button>
        <button mat-menu-item routerLink="contact">
          <mat-icon>contact_support</mat-icon>
          contact</button>
      </mat-menu>

      <a mat-button style="margin-right: 2rem;margin-top: -0.5rem;">
        <mat-icon>person_add</mat-icon>
        Register
      </a>
      <a mat-button style="margin-right: 2rem;margin-top: -0.5rem;">
        <mat-icon>account_circle</mat-icon>
        login
      </a>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-sidenav-container>
